* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

@font-face {
  font-family: 'wideawake';
  src: url(wideawake.TTF);
}

@font-face {
  font-family: 'wideawake-black';
  src: url(wideawake-black.ttf);
}


body {
  background-color: #342e37; /* MUD background */
  color: #fafffd; /* MUD foreground */
  font-family: 'Josefin Sans', 'Open Sans', -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue', sans-serif;
}
